   <div class="splash">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">            
            <h1>{{::event.title}}</h1>                        
          </div>
        </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
<!--
        <div class="row"> 
            <div class="col-lg-12">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
            </div>
        </div>
-->
        <div class="row">            
            <div class="col-lg-12">
                <h3 class="page-header">Whereabouts</h3>            
                <section>
                    <input type="text" class="search-query pull-left" ng-model="event.search" placeholder="Search">
                    <a href="#" class="btn btn-primary pull-right" ng-click="event.addPerson()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</a>
                </section>                        
            </div>
            <div class="col-lg-12">            
                <event-item></event-item>                
            </div>    
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; JHC Wednesday Web 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
