   <div class="splash">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">            
            <h1>{{::event.title}}</h1>                        
          </div>
        </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
<!--
        <div class="row"> 
            <div class="col-lg-12">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
            </div>
        </div>
-->
        <div>           
            <radiator-item></radiator-item>                
        </div>

        <div>           
            <summary-item></summary-item>                
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; JHC 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
