
<p>There are {{event.people.length}} people in the list. </p>

	<div id="screen" class="rTable">            
        <div class="rTableRow">
            <div class="rTableHead">First Name</div>
            <div class="rTableHead">Last Name</div>
            <div class="rTableHead">Initials</div>
            <div class="rTableHead">Whereabouts</div>            
            <div class="rTableHead">Action</div>
        </div>

        <div class="rTableRow" ng-repeat="person in event.people | searchPerson:event.search">
			<div class="rTableCell">{{person.FIRSTNAME}}</div>
            <div class="rTableCell">{{person.SURNAME}}</div>
            <div class="rTableCell">{{person.INITIALS}}</div>            
            <div class="rTableCell">{{person.WHEREABOUTS}}</div>
            <div class="rTableCell">                
                <a href="#" class="btn btn-success" ng-click="event.modifyPerson(person)"><span class="glyphicon glyphicon-edit"></span>&nbsp;Update</a>
            </div>
        </div>		
    </div>  
