    <div class="modal-header">
        <h3>Update</h3>
    </div>
    <div class="modal-body">
        <!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
        <form name="userForm" class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="firstName">ame</label>
                <div class="controls">
                    <p class="form-control-static" id="firstName" name="firstName" type="text">{{person.TENAME}}</p>
                </div>
            </div>                    

            <div class="control-group">
                <label class="control-label" for="userName">User ID</label>
                <div class="controls">
                    <p class="form-control-static" id="userName" name="userName" type="text">{{person.USERPROFILE}}</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="whereAbouts">Whereabouts</label>
                <div class="controls">
                    <input id="whereAbouts" name="whereAbouts" ng-model="person.WHEREABOUTS" type="text" placeholder="Whereabouts" class="input-xlarge" required=""  ng-class="{error: person.WHEREABOUTS.$invalid && !person.WHEREABOUTS.$pristine}"/>
                </div>
            </div>                            
            
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="save()" type="submit" class="btn btn-primary"><i class="icon-white icon-plus"></i>Save</button>
        <button ng-click="cancel()" class="btn">Cancel</button>
    </div> 